<p>
    Hello,<br><br>
    please confirm your account by clicking on the following link:
</p>
<ul>
    <li>
        <a href="http://www.soundslash.com/?user-id={{user_id}}&confirm-key={{key}}">http://www.soundslash.com/?user-id={{user_id}}&confirm-key={{key}}</a>
    </li>
</ul>
<p>
    In case you forgot your username and password, we are sending you one.<br>
    <strong>Username:</strong> {{email}}<br>
    <strong>Password:</strong> {{password}}
</p>
<p>
    Thank you,<br>
    Soundslash Team
</p>