<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <meta name="description" content="..."/>
    <meta name="keywords" content="..."/>

    <title>SoundSlash</title>

    <script data-main="/static/js/app" src="{{ static_url('js/require.js') }}"></script>

    <!--[if IE]><script src="{{ static_url('js/lib/html5.js') }}"></script><![endif]-->
</head>
<body>

</body>
</html>