
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur tortor vel elit malesuada, ut varius dui blandit. Donec gravida pulvinar est, a consectetur urna condimentum ac. Pellentesque mollis eros vitae porttitor faucibus. Mauris sit amet sagittis odio. Morbi ornare fermentum purus, eget consectetur tellus posuere sed. Cras dictum ut tellus a dapibus. In egestas tellus mi, sed commodo tortor dignissim nec. Proin efficitur, urna non laoreet dapibus, nisl odio ultrices dolor, nec volutpat risus nisl sed purus. Praesent semper lacus quam, at ornare nunc convallis id.
            </p>
            <p>
                Ut vel leo tortor. Sed mattis dui elit, eu imperdiet erat egestas eget. Aliquam libero nisl, blandit consequat molestie id, dignissim sed tortor. Nullam vel eros bibendum, tempor lacus quis, sagittis magna. Aliquam at laoreet nibh. Sed neque ligula, bibendum sit amet molestie id, bibendum a enim. Cras a ex ac ante vulputate vehicula quis ac nisl. Aliquam auctor massa id turpis tincidunt, ac dapibus nibh gravida. Praesent laoreet gravida turpis, id scelerisque mauris accumsan vel. Suspendisse tortor enim, congue eu pellentesque a, tempor eget enim. Sed interdum interdum orci vitae ultrices. Integer non tristique dolor. Phasellus venenatis, leo varius malesuada tempus, nulla libero porttitor nulla, eget volutpat ligula ipsum sed mi. Curabitur maximus consequat orci, et aliquet tortor sollicitudin quis. Morbi placerat augue sit amet massa laoreet, sed cursus velit commodo.
            </p>
            <p>
                Vestibulum tincidunt risus sit amet molestie eleifend. Duis justo sapien, maximus varius eleifend vitae, porta vitae orci. Phasellus non ornare felis. Sed tincidunt nisi sit amet tortor auctor, et ultricies libero euismod. Nulla facilisi. Mauris vitae odio odio. Integer vitae diam maximus, fermentum enim ac, tristique enim. Praesent lacinia efficitur lectus. Nulla tincidunt urna ac lacus consequat, ut pretium mi viverra. Nam ac cursus ante, fermentum congue nibh.
            </p>
            <p>
                Duis cursus blandit dui, a suscipit nibh porttitor in. Nunc placerat ac velit id tempus. Vivamus tempor, mauris eget faucibus egestas, dolor velit blandit sem, auctor posuere ipsum tortor a neque. Aenean velit nulla, placerat nec auctor ac, accumsan a elit. Morbi nibh augue, dignissim sed est et, faucibus venenatis lorem. Praesent nec tempor felis. Pellentesque nec malesuada lectus. Fusce scelerisque neque vitae orci bibendum hendrerit.
            </p>
            <p>
                Proin accumsan ultrices enim, eu accumsan risus viverra in. Nulla efficitur nec leo nec consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut vel felis quis sapien tempor lacinia at vel elit. Pellentesque elementum, erat id luctus faucibus, sem nulla luctus est, vehicula porttitor dui justo vel felis. Praesent porttitor justo vel mauris rutrum consequat. Fusce venenatis blandit suscipit. Vivamus aliquet magna in condimentum bibendum.
            </p>
            <p>
                Nulla mollis id ipsum sit amet rhoncus. Fusce convallis facilisis libero, non mollis magna porta ut. In pretium eros erat. In ac ipsum id ex varius sagittis. Proin condimentum commodo enim at rhoncus. In accumsan dictum venenatis. Curabitur tellus nunc, fermentum in venenatis ornare, pellentesque nec nulla. In hac habitasse platea dictumst. Aliquam in purus nulla. Vestibulum hendrerit nulla non euismod tincidunt.
            </p>
            <p>
                Vestibulum erat ipsum, sagittis et aliquam nec, rutrum a magna. Nullam est justo, consequat sed nibh ac, dictum varius augue. Nulla nec libero feugiat, condimentum purus eu, ultricies erat. Sed tristique vehicula nibh, vel viverra nibh elementum id. Nunc a sem erat. Vestibulum venenatis ullamcorper quam nec gravida. Sed auctor nunc aliquam convallis molestie. Maecenas id libero sed nisi mattis aliquam vitae at lacus. Donec eget dictum magna. Proin eget sollicitudin purus. Vestibulum laoreet sem enim, et laoreet turpis semper a. Etiam commodo sodales vehicula. Aliquam sollicitudin, ipsum quis vehicula blandit, mi elit fringilla ex, vitae molestie sapien tortor ac purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin arcu urna, pulvinar ut eleifend quis, auctor ac odio.
            </p>
            <p>
                Cras vitae erat nec lacus luctus egestas nec quis metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam augue libero, viverra at nibh ut, finibus auctor nulla. Sed ac ultrices enim, in tempor lorem. Nullam sed luctus quam. Phasellus in neque eu erat vehicula varius nec eget eros. Mauris condimentum tempus quam ut cursus. Praesent eu fermentum lacus. Fusce efficitur cursus justo quis interdum. Pellentesque eget venenatis urna, a commodo turpis. Phasellus ac mauris lacus. Nullam consequat vitae nibh quis bibendum. Aliquam quis odio aliquet, sodales lectus nec, viverra nisl. Donec consectetur ex ligula, porttitor maximus eros vehicula at.
            </p>
            <p>
                Suspendisse lobortis cursus diam in euismod. Mauris consectetur lorem ut elit ultrices vestibulum. Aenean pellentesque tortor ac lectus auctor, eget porttitor leo placerat. Sed consequat faucibus metus non vehicula. Sed cursus non neque non laoreet. Praesent posuere in purus eget sagittis. Proin vel eleifend nisl. Nam et vehicula ante. Praesent vitae quam facilisis, pulvinar massa vitae, commodo nibh. Praesent velit orci, blandit quis mauris ut, dignissim feugiat dui. Maecenas nec scelerisque sapien, ac tincidunt odio. Nam enim ipsum, sagittis ac ullamcorper at, ultricies rutrum lorem.
            </p>
            <p>
                Quisque facilisis vel elit sed scelerisque. Integer mauris tellus, rutrum non varius eu, faucibus congue leo. Sed tempor viverra lorem sollicitudin elementum. Vestibulum malesuada ipsum tempor, hendrerit diam a, scelerisque est. Donec vel interdum ligula, eget interdum dui. In scelerisque tellus in sem consequat, in dignissim risus blandit. Integer convallis elit id eros consectetur cursus. In in tortor et metus ultrices lobortis. Nam molestie turpis ut odio gravida, eu sagittis enim viverra.
            </p>
            <div class="center">
                <p>
                    <button class="btn btn-primary" onclick="$(this).closest('.dialog').find('.close').click()">Close</button>
                </p>
            </div>

        </div>
    </div>
</div>
